 body{
background-image: url("../images/fondo.png");
 }
  @font-face
{
   font-family: "acumins";
   src: url("../fonts/Acumin Pro Cond Light.otf");
}
  @font-face
{
   font-family: "rainbow";
   src: url("../fonts/Rainbow Dreams - Personal Use.otf");
}
  @font-face
{
   font-family: "gotham";
   src: url("../fonts/Gotham Book Regular.otf");
}
.carousel-inner img {
  margin-top: 2%;
    width: 100%;
    height: 100%;
}
a:link{
  text-decoration: none;
}
#txt_icons, #txt_reserva,#txt_3{
  font-family: "acumins";
  color: #2b2b2b;
}

@media (max-width: 575.98px) { 
  /**** margenes*/
.margen_contenido{
  width: 99%;
  height: auto;
  margin-right: .5%;
  margin-left: .5%;

}
#marg_icon{
  width: 90%;
  height: auto;
  margin-left: 5%;
}

/*imagen inicio grande*/
#im1{
  width: 100%;
  height: auto;
}

/**** logo grande p2*/
#im2{
  width: 60%;
  height: auto;
  margin-left: 20%;
}

/*****texto parte 2*/
#txt_2{
color: #2b2b2b;
font-size: 2.4vw;
font-family: "gotham";
text-align: justify;
letter-spacing: .1vw;
margin-left: 8%;
}

#txt_3{
font-size: 3vw;
padding-top: .5vw;
padding-bottom: .2vw;
text-align: justify;
letter-spacing: .1vw;
}
#txt_icons{
font-size: 3.5vw;
margin-top: -17%;

}

/*****IMAGENES******/
#servicios{
margin-left: -20%;
  width: 140%;
  height: auto;
  margin-top: -15%;
}
/******FIN IMAGENES**/

/******TITULOS******/
#titulo_paquete{
  width: 50%;
  height: auto; 
  margin-top: 2%;
  margin-bottom: 2%;
}
#titulo_porque_realizar{
  width: 85%;
  height: auto;
  margin-left:7.5%;
  
  margin-bottom: 3%;
}
#titulo_servicios{
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 1%;
}

#btn_reserva{
 border:1.4px solid #626262;
 width: 80%;
 height: 11vw;
 margin-left: 10%;
 margin-bottom: 3%;
 margin-top: 3%;
 background-color: white;
}
#txt_reserva{
font-size: 7vw;
letter-spacing: 0.1em;
text-align: center;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /**** margenes*/
.margen_contenido{
  width: 98%;
  height: auto;
  margin-right: 1%;
  margin-left: 1%;

}
#marg_icon{
  width: 85%;
  height: auto;
  margin-left: 7.5%;
}

#margen_p2{
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}

/*imagen inicio grande*/
#im1{
  width: 100%;
  height: auto;
}

/**** logo grande p2*/
#im2{
  width: 50%;
  height: auto;
  margin-left: 25%;
}

/*****texto parte 2*/
#txt_2{
color: #2b2b2b;
font-size: 1.7vw;
font-family: "gotham";
padding-top: .3vw;
padding-bottom: .3vw;
text-align: justify;
margin-top: -3%;
letter-spacing: .1vw;
}

#txt_3{
font-size: 2.5vw;
padding-top: .5vw;
padding-bottom: .2vw;
text-align: justify;
letter-spacing: .1vw;
}
#txt_icons{
font-size: 1.9vw;
margin-top: -10%;

}

/*****IMAGENES******/
#servicios{
margin-left: -20%;
  width: 140%;
  height: auto;
}
/******FIN IMAGENES**/

/******TITULOS******/
#titulo_paquete{
  width: 37%;
  height: auto; 
  margin-bottom: 7%;
}
#titulo_porque_realizar{
  width: 75%;
  height: auto;
  margin-left:12.5%;
  
  margin-bottom: 3%;
}
#titulo_servicios{
  width: 98%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 1%;
}

#btn_reserva{
 border:1.3px solid #626262;
 width: 25%;
 height: 5vw;
 margin-left: 40%;
 margin-bottom: 3%;
 margin-top: 3%;
 background-color: white;
}
#txt_reserva{
font-size: 3.5vw;
letter-spacing: 0.1em;
text-align: center;
}
}
 /*************************************************************************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  /**** margenes*/
.margen_contenido{
  width: 98%;
  height: auto;
  margin-right: 1%;
  margin-left: 1%;
}
#marg_icon{
  width: 80%;
  height: auto;
  margin-left: 10%;
}

/*imagen inicio grande*/
#im1{
  width: 100%;
  height: auto;
}

/**** logo grande p2*/
#im2{
  width: 90%;
  height: auto;
}

/*****texto parte 2*/
#txt_2{
color: #2b2b2b;
font-size: 1.2vw;
font-family: "gotham";
padding-top: .3vw;
padding-bottom: .3vw;
text-align: justify;
margin-top: -3%;
letter-spacing: .1vw;
}

#txt_3{
font-size: 1.7vw;
padding-top: .5vw;
padding-bottom: .2vw;
text-align: justify;
letter-spacing: .1vw;
}
#txt_icons{
font-size: 1.8vw;
margin-top: -15%;

}

/*****IMAGENES******/
#servicios{
margin-left: -20%;
  width: 140%;
  height: auto;
}
/******FIN IMAGENES**/

/******TITULOS******/
#titulo_paquete{
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 7%;
}
#titulo_porque_realizar{
  width: 80%;
  height: auto;
  margin-left:10%;
  margin-top: 10%;
  margin-bottom: 3%;
}
#titulo_servicios{
  width: 98%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 1%;
}

#btn_reserva{
 border:1.3px solid #626262;
 width: 20%;
 height: 4vw;
 margin-left: 40%;
 margin-bottom: 3%;
 margin-top: 2%;
 background-color: white;
}
#txt_reserva{
font-size: 2.5vw;
letter-spacing: 0.1em;
text-align: center;
}
}
 /*************************************************************************************************************/

@media (min-width: 992px) and (max-width: 1199.98px) {
  /**** margenes*/
.margen_contenido{
  width: 85%;
  height: auto;
  margin-right: 7.5%;
  margin-left: 7.5%;

}
#margen_p2{
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}


/*imagen inicio grande*/
#im1{
  width: 100%;
  height: auto;
}

/**** logo grande p2*/
#im2{
  width: 90%;
  height: auto;
}

/*****texto parte 2*/
#txt_2{
color: #2b2b2b;
font-size: .9vw;
font-family: "gotham";
padding-top: .3vw;
padding-bottom: .3vw;
text-align: justify;
margin-top: -3%;
letter-spacing: .1vw;
}

#txt_3{
font-size: 1.5vw;
padding-top: .5vw;
padding-bottom: .2vw;
text-align: justify;
letter-spacing: .1vw;
}
#txt_icons{
font-size: 1.1vw;
margin-top: -10%;

}

/*****IMAGENES******/
#servicios{
margin-left: -20%;
  width: 140%;
  height: auto;
}
/******FIN IMAGENES**/

/******TITULOS******/
#titulo_paquete{
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 7%;
}
#titulo_porque_realizar{
  width: 80%;
  height: auto;
  margin-left:10%;
  margin-top: 10%;
}
#titulo_servicios{
  width: 98%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 1%;
}

#btn_reserva{
 border:1.3px solid #626262;
 width: 20%;
 height: 3vw;
 margin-left: 40%;
 margin-bottom: 3%;
 margin-top: 2%;
 background-color: white;
}
#txt_reserva{
font-size: 2vw;
letter-spacing: 0.1em;
text-align: center;
}
}
 /*************************************************************************************************************/

@media (min-width: 1200px)  {
  /**** margenes*/
.margen_contenido{
  width: 80%;
  height: auto;
  margin-right: 10%;
  margin-left: 10%;

}
#margen_p2{
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}
 #marg_icon{
  width: 90%;
  margin-left: 5%;
 }

/*imagen inicio grande*/
#im1{
  width: 100%;
  height: auto;
}

/**** logo grande p2*/
#im2{
  width: 90%;
  height: auto;
}

/*****texto parte 2*/
#txt_2{
color: #2b2b2b;
font-size: .8vw;
font-family: "gotham";
padding-top: .3vw;
padding-bottom: .3vw;
text-align: justify;
margin-top: -3%;
letter-spacing: .1vw;
}

#txt_3{
font-size: 1.5vw;
padding-top: .5vw;
padding-bottom: .2vw;
text-align: justify;
letter-spacing: .1vw;
}
#txt_icons{
font-size: 1vw;
margin-top: -10%;
}

/*****IMAGENES******/
#servicios{
margin-left: -20%;
  width: 140%;
  height: auto;
}
/******FIN IMAGENES**/

/******TITULOS******/
#titulo_paquete{
  width: 60%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 7%;
}
#titulo_porque_realizar{
  width: 80%;
  height: auto;
  margin-left:10%;
  margin-top: 10%;
}
#titulo_servicios{
  width: 98%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 1%;
}

#btn_reserva{
 border:1.3px solid #626262;
 width: 15%;
 height: 3vw;
 margin-left: 42.5%;
 margin-bottom: 3%;
 margin-top: 2%;
 background-color: white;
}
#txt_reserva{
font-size: 2vw;
letter-spacing: 0.1em;
text-align: center;
}
}

/*Extra large devices (large desktops, 1200px and up)*******************************************************************/

